<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Stalemate&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/about.css">   
    <link rel="icon" href="css/assets/Logo.svg">
    <title>Surf Tribe</title>
</head>
<body>
  <header>
    {{>navbar_before}}
  </header>
    <div class="head">
      <div class="heroimg">
        <div class="maintext">
          <div class="bottom-left">Surf Tribe</div>
        </div>
      </div>
    </div>
   <div class="about-us">  
      <div class="contenthead" id="aboutus">What we do</div>
      <div class="content-txt">
          <img src="css/assets/Cleaning.png" align="right" class="cleaning">
          <p class="text">Surf-Tribe is a web application that registers you for clean up drives organised for beaches near you.
          Through our app,you can find a community of people who are willing to contribute their share in conserving nature. Join with hundreds
          of such people and play your part.</p>
      </div>
    </div>
    
    
    <div class="contact-us">
      <div class="contenthead" id="contactus">Contact Us</div>
      <div class="contact-photo">
          {{>about}}
      </div>
      <div class="wave" >
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
        </svg>
      </div>
      </div>
    {{>footr}}
</html>