<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Become a volunteer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/join.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  {{>navbar_after}}
<div class="beachtext">
    <h2>Who is it for?</h2>
    <ul>
    <li>Our cleanups are open to everybody.</li>
    <li>If you are older than 16 you can just come around.</li>
    <li>Children between 14 and 16 need the consent of the parents, if they come alone.</li>
    <li>Children under the age of 14 have to be joined by an adult with the right to supervise the child.</li>
    <li>Please read our terms and conditions carefully, before joining our cleanups.</li>
    </ul>
</div>
<div class="beachtext">
    <h2>What can you expect</h2>
    <ul>
    <li>Our cleanups last around an hour.</li>
    <li>It starts for everybody at the meeting point, that you can find below.</li>
    <li>We hand out bags and clean gloves to everybody.</li>
    <li>We organize the team in the beginning to assure an effective cleanup.</li>
    <li>After an hour at the beach we are getting together again at the meeting point.</li>
    <li>We weight what we collected and take everything to the next containers, to divide the trash and put it where it belongs.</li>
    </ul>
</div>
<div class="beachtext">
    <h2>What to bring</h2>
    <ul>
    <li>Bring what you feel comfortable in.</li>
    <li>Be prepared of the strong sun of Barcelona.</li>
    <li>Wear cloths that can get dirty and comfortable shoes.</li>
    <li>Parents have to bring material for their children, as our gloves are only adult sizes.</li>
    <li>Children might also enjoy using material, such as sieves and buckets, that have to be provided by the supervising adult.</li>
    </ul>
</div>
</body>

</html>