<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="contenthead" id="aboutus">What we do</div>
      <div class="content-txt">
        <div class="auimage">
            <img src="css/assets/Cleaning.png" class="cleaning">
        </div>
          <p class="text">Surf-Tribe is a web application that registers you for clean up drives organised for beaches near you.
            Through our app,you can find a community of people who are willing to contribute their share in conserving nature.
            Join with hundreds
            of such people and play your part.</p>
      </div>
</body>
</html>