<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <link rel="stylesheet" href="css/styles.css"/>

    <title>Navbar</title>
</head>
<body>
     <nav>
            
            </div>
            <div class="logo">
                <img src="Logo2.svg" >
            </div>
            <ul class="nav-links">
                <li><a href="Home.html">Home</a></li>
                <li><a href="About Us.html">About Us</a></li>
                <li><a href="Find A Beach.html">Find A Beach</a></li>
                <li><a href="Join Us.html">Join Us</a></li>
                <button><a href="Log In.html">Log In</a></button>
                <button sign><a href="Sign Up.html">Sign Up</a></button>
            </ul>
            <div class="burger">
                
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>  
            </div>
        </nav>
</body>
</html>