html,
body {
  margin: 0;
  font-family: "PingFang SC", "Microsoft Yahei",
    sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(180deg, #FFFFFF 0%, #0276B7 100%);

  background-image: url("assets/dan-gold-_mmd-LgBPrs-unsplash.jpg");

  background-size: cover;
 
}